@mixin breakpoint($point) {
    @if $point==desktop {
        @media (min-width: 70em) {
            @content ;
        }
    }
    @else if $point==laptop {
        @media (min-width: 64em) {
            @content ;
        }
    }
    @else if $point==tablet {
        @media (min-width: 50em) {
            @content ;
        }
    }
    @else if $point==phablet {
        @media (min-width: 37.5em) {
            @content ;
        }
    }
    @else if $point==mobileonly {
        @media (max-width: 37.5em) {
            @content ;
        }
    }
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    width: 70%;
    margin: 0 auto;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/** HEADINGS **/

h1,
h2,
h3,
h4 {
    font-family: 'Luckiest Guy', cursive;
    font-weight: 100;
}

h1 {
    @include breakpoint(phablet) {
        display: block;
    }
    display: none;
    font-size: 7vw;
    text-align: center;
    padding: 20px;
    color: chocolate;
    .middle {
        font-size: 0.6em;
    }
}

h2 {
    color: orange;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3em;
}

h3 {
    font-size: 2em;
    color: #8395f7;
}

.container {
    margin-top: 113px;
}

.header {
    .navigation {
        /* fixed on top */
        position: fixed;
        top: 0;
        width: 100%;
        background: #fff;
        a {
            @include breakpoint(tablet) {
                font-size: 22px;
                margin: 0;
                background: none;
                padding: 24px;
            }
            text-decoration: none;
            text-transform: uppercase;
            color: #8395f7;
            font-size: 20px;
            font-weight: bold;
            transition: all .5s;
            padding: 10px;
            position: relative;
            margin: 2px;
            &:hover {
                color: orange;
                &:after {
                    width: 100%;
                }
            }
            &:after {
                transition: all .5s;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 0%;
                content: '.';
                color: transparent;
                background: #8395f7;
                height: 1px;
            }
        }
        .mobileNav {
            display: block;
            @include breakpoint(tablet) {
                display: none;
            }
            span {
                padding: 0 10px 0 10px;
                display: block;
            }
        }
        .links {
            @include breakpoint(tablet) {
                flex-direction: row;
                padding: 20px;
                background: none;
                display: flex !important;
            }
            background: rgba(246, 244, 221, 0);
            display: none;
            flex-direction: column;
            justify-content: center;
            .link {
                background: beige;
                @include breakpoint(tablet) {
                    background: none;
                }
            }
            .active {
                color: orange;
                &:after {
                    width: 100%;
                }
            }
            .special {
                color: #17d417;
                &:hover {
                    color: orange;
                }
            }
        }
        .show {
            display: flex;
        }
    }
    .show {
        background: white;
    }
}

.hero {
    .hashtag {
        @include breakpoint(phablet) {
            font-size: 80px;
        }
        font-family: 'Luckiest Guy';
        color: blue;
        font-size: 40px;
        display: flex;
        justify-content: center;
        transition: font-size 1s;
    }
}

.idea {
    p {
        margin: 0 auto;
        font-size: 20px;
        font-style: italic;
        text-align: center;
    }
}

.plan {
    .interactive {
        @include position(relative);
        width: 100%;
        min-height: 500px;
        .foodberg {
            @include position(absolute, 100px, auto, auto, 100px);
            width: 250px;
        }
    }
    .action-item {
        padding: 20px;
        display: flex;
        .item-detail {
            padding: 10px;
        }
    }
}

.facts {
    padding: 40px;
    .showProblem {
        color: grey;
        text-align: center;
        font-family: alfaslab;
        font-weight: 100;
        font-size: 5vw;
        letter-spacing: 10px;
    }
    .gallery {
        img {
            transition: all .9s;
            border: 15px solid chocolate;
            border-radius: 50%;
            margin: 10px;
            height: auto;
            width: 150px;
            &:hover {
                width: 200px;
            }
        }
    }
}

.takeaction {
    .takeaction-items {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .item {
            color: white;
            margin: 2px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 290px;
            height: 250px;
            border-radius: 5px;
            transition: background 2s;
            .item-header {
                .left-button {
                    text-align: center;
                    width: 15%;
                    margin: 0 10px 0 0;
                    .left-arrow {
                        width: 26px;
                    }
                }
                .right-button {
                    width: 85%;
                    padding: 4px;
                    text-align: center;
                }
            }
            .item-button {
                font-family: "Roboto";
                font-size: 20px;
                background: transparent;
                transition: background 2s, color 1s;
                color: white;
                border: 2px solid white;
                border-radius: 4px;
                width: 90%;
                padding: 10px;
                text-align: center;
            }
            &:hover {
                .item-button {
                    cursor: pointer;
                    background: white;
                    transition: background 1s, color .6s;
                }
            }
            span {
                font-size: 25px;
                font-family: 'Luckiest Guy';
            }
            svg {
                color: white;
                font-size: 150px;
            }
            .icon {
                max-width: 150px;
                max-height: 140px;
                margin: 10px 0 20px 0;
                transition: max-width 1s;
            }
            p {
                display: none;
                max-width: 300px;
            }
        }
        .itemBack {
            .icon {
                display: none;
            }
            p {
                display: block;
            }
        }
        .isFliped {
            background: black;
            transform: rotateY(180deg);
        }
        .person {
            background: rgba(orange, 0.6);
            &:hover {
                background: rgba(orange, 0.9);
                .item-button {
                    color: orange;
                }
            }
        }
        .biker {
            background: rgba(#32c732, 0.6);
            &:hover {
                background: rgba(#32c732, 0.9);
                .item-button {
                    color: #32c732;
                }
            }
        }
        .workshop {
            background: rgba(#1f83ff, 0.6);
            &:hover {
                background: rgba(#1f83ff, 0.9);
                .item-button {
                    color: #1f83ff;
                }
            }
        }
        .ngo {
            background: rgba(#80287f, 0.6);
            &:hover {
                background: rgba(#80287f, 0.9);
                .item-button {
                    color: #80287f;
                }
            }
        }
        .betrieb {
            background: rgba(#8a5e28, 0.6);
            &:hover {
                background: rgba(#8a5e28, 0.9);
                .item-button {
                    color: #8a5e28;
                }
            }
        }
        .bauer {
            background: rgba(#ff253a, 0.6);
            &:hover {
                background: rgba(#ff253a, 0.9);
                .item-button {
                    color: #8a5e28;
                }
            }
        }
    }
    .formModal {
        display: block;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            /* 15% from the top and centered */
            padding: 20px;
            border-radius: 6px;
            width: 80%;
            /* Could be more or less, depending on screen size */
        }
        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
    .workshopkarte {
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th, td {
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even){background-color: #f2f2f2}
        
        th {
            background-color: #4CAF50;
            color: white;
        }
    }
}

.footer {
    text-align: center;
    .fa-heart {
        color: red;
    }
}

.debug {
    border: 1px solid red;
}

.hinweis {
    border: 1px solid red;
    padding: 50px;
    text-align: center;
}